# /etc/systemd/system/autotrader-pro-worker.timer
[Unit]
Description=AUTOTRADER-PRO worker timer (5min)

[Timer]
OnBootSec=60s
OnUnitActiveSec=300s
AccuracySec=10s
Unit=autotrader-pro-worker.service

[Install]
WantedBy=timers.target
